name: Build Housing Management Image

on:
  push:
#    branches:
#      - main
    paths:
      - "packages/housing-management/**"

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build \
            -t residium/housing-management:${{ github.run_number }} \
            -t residium/housing-management:latest \
            -f packages/housing-management/Dockerfile \
            .
